<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.designer.codeskills/data/Data"
			class = "codeskills.designer.data.data.DataPackage"
			genModel = "model/generated/Data.genmodel" />
	</extension>
</plugin>
